.flip-card-inner {
    position: relative;
    /*絕對位置*/
}

.flip-cart-front,
.flip-cart-back {
    position: absolute;
    /*相對位置*/
}

.flip-cart-front,
.flip-cart-back,
.flip-card-inner {
    width: 100%;
    height: 100%;
}

.flip-card {
    width: 300px;
    height: 300px;
}

.flip-cart-front {
    background: lightpink;
    color: black;
}

.flip-cart-back {
    background: beige;
    transform: rotateY(180deg);
    color: black;
}

.flip-card-inner:hover {
    transform: rotateY(180deg);
}